/*
Theme Name: Windsor
Theme URI: http://wordpress.org/extend/themes/twentyeleven
Author: the WordPress team
Author URI: http://wordpress.org/
Description: The 2011 theme for WordPress is sophisticated, lightweight, and adaptable. Make it yours with a custom menu, header image, and background -- then go further with available theme options for light or dark color scheme, custom link colors, and three layout choices. Twenty Eleven comes equipped with a Showcase page template that transforms your front page into a showcase to show off your best content, widget support galore (sidebar, three footer areas, and a Showcase page widget area), and a custom "Ephemera" widget to display your Aside, Link, Quote, or Status posts. Included are styles for print and for the admin editor, support for featured images (as custom header images on posts and pages and as large images on featured "sticky" posts), and special styles for six different post formats.
Version: 1.4
License: GNU General Public License v2 or later
License URI: http://www.gnu.org/licenses/gpl-2.0.html
Tags: dark, light, white, black, gray, one-column, two-columns, left-sidebar, right-sidebar, fixed-width, flexible-width, custom-background, custom-colors, custom-header, custom-menu, editor-style, featured-image-header, featured-images, full-width-template, microformats, post-formats, rtl-language-support, sticky-post, theme-options, translation-ready
Text Domain: twentyeleven
*/

/* =Reset default browser CSS. Based on work by Eric Meyer: http://meyerweb.com/eric/tools/css/reset/index.html
-------------------------------------------------------------- */

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, ins, kbd, q, s, samp,
small, strike, sub, sup, tt, var,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {
	border: 0;
	font-family: inherit;
	font-size: 100%;
	font-style: inherit;
	font-weight: inherit;
	margin: 0;
	outline: 0;
	padding: 0;
	vertical-align: baseline;
}
:focus {/* remember to define focus styles! */
	outline: 0;
}

body{min-width:960px;font-family: Arial, Sans-serif;color:#646464; font-size: 13px; line-height: 1.5em;}
body.home {font-size:14px;}
.container_12{margin-left:auto;margin-right:auto;width:960px}
.grid_1,.grid_2,.grid_3,.grid_4,.grid_5,.grid_6,.grid_7,.grid_8,.grid_9,.grid_10,.grid_11,.grid_12{display:inline;float:left;margin-left:10px;margin-right:10px}
.push_1,.pull_1,.push_2,.pull_2,.push_3,.pull_3,.push_4,.pull_4,.push_5,.pull_5,.push_6,.pull_6,.push_7,.pull_7,.push_8,.pull_8,.push_9,.pull_9,.push_10,.pull_10,.push_11,.pull_11{position:relative}
.alpha{margin-left:0}.omega{margin-right:0}
.container_12 .grid_1{width:60px}
.container_12 .grid_2{width:140px}
.container_12 .grid_3{width:220px}
.container_12 .grid_4{width:300px}
.container_12 .grid_5{width:380px}
.container_12 .grid_6{width:460px}
.container_12 .grid_7{width:540px}
.container_12 .grid_8{width:620px}
.container_12 .grid_9{width:700px}
.container_12 .grid_10{width:780px}
.container_12 .grid_11{width:860px}
.container_12 .grid_12{width:940px}
.container_12 .prefix_1{padding-left:80px}.container_12 .prefix_2{padding-left:160px}.container_12 .prefix_3{padding-left:240px}.container_12 .prefix_4{padding-left:320px}.container_12 .prefix_5{padding-left:400px}.container_12 .prefix_6{padding-left:480px}.container_12 .prefix_7{padding-left:560px}.container_12 .prefix_8{padding-left:640px}.container_12 .prefix_9{padding-left:720px}.container_12 .prefix_10{padding-left:800px}.container_12 .prefix_11{padding-left:880px}.container_12 .suffix_1{padding-right:80px}.container_12 .suffix_2{padding-right:160px}.container_12 .suffix_3{padding-right:240px}.container_12 .suffix_4{padding-right:320px}.container_12 .suffix_5{padding-right:400px}.container_12 .suffix_6{padding-right:480px}.container_12 .suffix_7{padding-right:560px}.container_12 .suffix_8{padding-right:640px}.container_12 .suffix_9{padding-right:720px}.container_12 .suffix_10{padding-right:800px}.container_12 .suffix_11{padding-right:880px}.container_12 .push_1{left:80px}.container_12 .push_2{left:160px}.container_12 .push_3{left:240px}.container_12 .push_4{left:320px}.container_12 .push_5{left:400px}.container_12 .push_6{left:480px}.container_12 .push_7{left:560px}.container_12 .push_8{left:640px}.container_12 .push_9{left:720px}.container_12 .push_10{left:800px}.container_12 .push_11{left:880px}.container_12 .pull_1{left:-80px}.container_12 .pull_2{left:-160px}.container_12 .pull_3{left:-240px}.container_12 .pull_4{left:-320px}.container_12 .pull_5{left:-400px}.container_12 .pull_6{left:-480px}.container_12 .pull_7{left:-560px}.container_12 .pull_8{left:-640px}.container_12 .pull_9{left:-720px}.container_12 .pull_10{left:-800px}.container_12 .pull_11{left:-880px}.clear{clear:both;display:block;overflow:hidden;visibility:hidden;width:0;height:0}.clearfix:before,.clearfix:after,.container_12:before,.container_12:after{content:'.';display:block;overflow:hidden;visibility:hidden;font-size:0;line-height:0;width:0;height:0}.clearfix:after,.container_12:after{clear:both}.clearfix,.container_12{zoom:1}

ul, ol {
	margin-left: 20px;
}

li {
	margin-bottom: 5px;
}

table {/* tables still need 'cellspacing="0"' in the markup */
	border-collapse: separate;
	border-spacing: 0;
}
caption, th, td {
	font-weight: normal;
	text-align: left;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: "";
}
blockquote, q {
	quotes: "" "";
}
a img {
	border: 0;
}
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}

footer.entry-meta {display: none;}

/*
 * Backgrounds
 */

#bgs {position: absolute;top: 0;left: 0;width: 100%;height: 753px;z-index: -1;}

body.home #bgs, body.page-id-8 #bgs {
	background: url('images/hero/hero_royale.jpg') no-repeat top center;
}
body.page-id-98 {
	background: url('images/hero/hero_genesis.jpg') no-repeat top center;
}
body.page-id-100 {
	background: url('images/pages/background_rapid.jpg') no-repeat  top center;
}
body.page-id-102 {
	background: url('images/our-dealers.jpg') no-repeat top center;
}
body.page-id-104 {
	background: url('images/pages/background_genesis.jpg') no-repeat top center;
}
body.page-id-106 {
	background: url('images/pages/background_royale.jpg') no-repeat top center;
}
body.page-id-12 {
	background: url('images/contact.jpg') no-repeat top center;
}
body.page-id-16{
	background: url('images/hero/hero_royale.jpg') no-repeat top center;
}
body.page-id-18,body.page-id-14 {
	background: url('images/hero/hero_genesis.jpg') no-repeat top center;
}
body.page-id-20 {
	background: url('images/why-windsor.jpg') no-repeat top center;
}
body.page-id-22,body.page-id-252,body.page-id-363,body.page-id-365,body.page-id-367,body.page-id-369,body.page-id-371,body.page-id-373 {
	background: url('images/our-dealers.jpg') no-repeat top center;
}
body.page-id-25 {
	background: url('images/servicing.jpg') no-repeat top center;
}
body.page-id-29 {
	background: url('images/contact.jpg') no-repeat top center;
}

/* Headers */
.page-id-98 h1, .page-id-100 h1, .page-id-102 h1, .page-id-104 h1, .page-id-106 h1 {
	background: url('images/headers/range_headers.png') no-repeat;
	text-indent: -99999px;
	display: block;
	height: 80px;
	line-height: 1em;
	padding: 0px;
	margin-bottom: 360px;
}
.page-id-100 .entry-header h1 {
	background-position: 0px -81px;
}
.page-id-102 .entry-header  h1 {
	background-position: 0px -161px;
}
.page-id-104 .entry-header  h1 {
	background-position: 0px -323px;
}
.page-id-106 .entry-header  h1 {
	background-position: 0px -242px;
}
.dealer-page .entry-content {
	float: none;clear:both;
	padding-top: 20px;
}

a .our-range-btn {
	background: url('images/our-range-buttons.png') no-repeat top left;
	display: block;
	height: 75px;
	width: 220px;
	text-indent: -99999px;
	padding: 0px;
	position: relative;
	top:-20px;
}

a#download-agents-btn {
	background: url('images/download-agents-btn.png') no-repeat top left;
	display: block;
	height: 75px;
	width: 298px;
	text-indent: -99999px;
	padding: 0px;
	position: relative;
	top:-20px;
}
a#download-agents-btn {
	background-position: top left;
}
a#download-agents-btn:hover {
	background-position: -298px 0px;
}

.page-id-6 .entry-content .our-range a, .page-id-8 .entry-content .our-range a {padding:0px;}

a#range-btn-navigator .our-range-btn.camper-trailers {
	background-position: top left;
}
a#range-btn-navigator:hover > .our-range-btn.camper-trailers {
	background-position: -220px 0px;
}
a#range-btn-rapid .our-range-btn.expandables {
	background-position: 0px -75px;
}
a#range-btn-rapid:hover > .our-range-btn.expandables {
	background-position: -220px -75px;
}
a#range-btn-entice .our-range-btn.pop-tops {
	background-position: 0px -150px;
}
a#range-btn-entice:hover > .our-range-btn.pop-tops {
	background-position: -220px -150px;
}
a#range-btn-royale .our-range-btn.caravans {
	background-position: 0px -75px;
}
a#range-btn-royale:hover > .our-range-btn.caravans {
	background-position: -220px -75px;
}

.zoom { 
    width:220px; 
    height:162px; 
    display:block; 
    position:relative; 
    overflow:visible;
}

.zoom img { display:block; height: 102px; width: 220px; }

.zoomOverlay {
    position:absolute;
    top:0; left:0;
    bottom:0; right:0;
    display:none;
    background-repeat:no-repeat;
    background-position:center;
}


/* =Global
----------------------------------------------- */

#page {
	width: 100%;
	overflow: visible;
}

.page-intro {
	display: block;
	min-height: 425px;
}

.page-id-8 .page-intro a {
	line-height: 2.5em;
	font-size: 1.1em;
}

.page-id-8 .grid_3 a {
	display: block;
	padding-top: 25px;
}

.page-id-6 .entry-content a {
	padding: 0px 5px 0px 5px;
}

/* Headings */
h1,h2,h3,h4,h5,h6 {
	clear: both;
	font-family: Arial, Sans-serif;
		color: #006598;
}

h2 {
	font-size: 1.3em;
	font-weight: normal;
	color: #006598;
}

h3 {
	font-size: 1.2em;
	font-weight: normal;
	color: #006598;
}

p {
	line-height: 1.5em;
	margin-bottom: 20px;
}

.fineprint {
	font-size: 0.9em;
}

hr {
	float: none;
	clear: both;
	background-color: #e7e7e7;
	border: 0;
	height: 1px;
	margin-bottom: 40px;
	margin-top: 22px;
	display: block;
}

hr.home {
	margin-top: 30px;
	margin-bottom: 60px;
}

/*
 * Home
 */
.home article header h1, .page-id-8 article header h1 {display: none;}
.view-our-range-hero {display: block; height: 675px; vertical-align: middle; font-size: 0.9em; position: relative; top: 200px; margin-left: 50px;}
.home .our-range {position: absolute; top: -15px;}
.page-id-8 .our-range {position: absolute; top: -40px;}
.page-id-8 .page-intro {position:relative;top: 143px;min-height:422px;margin-bottom:170px;}
.page-id-8 .page-intro h1 {font-size: 1.4em;}
.view-our-range-hero a {margin-left: 200px;}

.page-id-22 .entry-content p {font-size: 0.9em; margin-bottom: 10px;}
.page-id-22 .entry-content .page-intro p {font-size: 1em; margin-bottom: 20px;}
.page-id-22 h4 {margin: 26px 0px 5px 0px;}
.web {display: block; float: left; vertical-align: top; line-height: 21px; margin-top: 5px;}
.phone-icon {display: block; float: left; vertical-align: top; line-height: 15px; margin-top: 4px;}
.telephone {display: block; float: left; vertical-align: top; line-height: 15px; margin-top: 5px; margin-left: 2px; font-size: 12px;}
.cursor-icon {display: block; float: left; vertical-align: top; line-height: 15px; margin-top: 4px; margin-right: 4px;}


/* Forms */
input[type=text],
input[type=password],
textarea {
	background: #fafafa;
	-moz-box-shadow: inset 0 1px 1px rgba(0,0,0,0.1);
	-webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,0.1);
	box-shadow: inset 0 1px 1px rgba(0,0,0,0.1);
	border: 1px solid #ddd;
	color: #888;
}
input[type=text]:focus,
textarea:focus {
	color: #373737;
}
textarea {
	padding-left: 3px;
	width: 98%;
}
input[type=text] {
	padding: 3px;
}
input#s {
	background: url(images/search.png) no-repeat 5px 6px;
	-moz-border-radius: 2px;
	border-radius: 2px;
	font-size: 14px;
	height: 22px;
	line-height: 1.2em;
	padding: 4px 10px 4px 28px;
}
input#searchsubmit {
	display: none;
}

/* Links */
a {
	color: #1982d1;
	text-decoration: none;
}
a:focus,
a:active,
a:hover {
	text-decoration: underline;
}

/* Assistive text */
.assistive-text {
	position: absolute !important;
	clip: rect(1px 1px 1px 1px); /* IE6, IE7 */
	clip: rect(1px, 1px, 1px, 1px);
}
#access a.assistive-text:active,
#access a.assistive-text:focus {
	background: #eee;
	border-bottom: 1px solid #ddd;
	color: #1982d1;
	clip: auto !important;
	font-size: 12px;
	position: absolute;
	text-decoration: underline;
	top: 0;
	left: 7.6%;
}

/* BTT */

.btt {
	background: url('images/backtotop.gif') no-repeat;
	display: block;
	height: 22px;
	width: 27px;
	float: right;
	text-indent: -9999px;
	margin-right: 10px;
	margin-bottom: -10px;
}

/* =Menu
-------------------------------------------------------------- */

header {
	font-size: 13px;
}

.logo {
	float: left;
}

#access {
	font-size: 0.95em;
	display: block;
	font-weight: bold;
	float: right;
	margin-top: 50px;
}

a.more-link {
	display: block;
	text-align: right;
	color: #003468;
	font-size: 0.9em;
	line-height: 18px;
	text-decoration: none;
}

a.more-link:hover {
	color: #1982d1;
	text-decoration: none;
}

#access .menu-main-menu-container {display: block;float: left;margin:0;padding:0;}

#access ul {
	text-transform: uppercase;
	list-style: none;
	margin: 0 0 0 -0.8125em;
	padding-left: 0;
}
#access li {
	float: left;
	position: relative;
	margin-right: 5px;	
}
#access a {
	color: #18455b;
	display: block;
	line-height: 3.333em;
	padding: 0 1.2125em;
	text-decoration: none;
}

#access ul ul ul {
	left: 100%;
	top: 0;
}

#access li:hover > a,
#access ul ul :hover > a,
#access a:focus {
	background: #18455b;
	color: #fff;
}
#access li:hover > a,
#access a:focus {
	background: #18455b; /* Show a solid color for older browsers */
	color: #fff;
	border-radius: 4px;
}
#access ul li:hover > ul {
	display: block;
}
#access .current-menu-item > a,
#access .current-menu-ancestor > a,
#access .current_page_item > a,
#access .current_page_ancestor > a {
	background: #18455b; /* Show a solid color for older browsers */
	color: #fff;
	border-radius: 4px;
}

#submenu {
	padding: 20px 20px 40px 20px;
	text-align: center;
}

#submenu a {
	margin: 0px 15px 0px 15px;
}

/* Submenu */

#access ul ul.sub-menu {
	width: 150px;
	background: #18455b;
	display: block;
	line-height: 35px;
	padding: 0px;
	display: none;
	float: left;
	margin: 0;
	position: absolute;
	top: 3em;
	z-index: 99999;
}
#access ul ul.sub-menu li {
	margin: 0px;
	display: block;
	width: 150px;
}
#access ul ul.sub-menu a {
	color: #fff;
}

#access ul ul.sub-menu li:hover > a {
	border-radius: 0px !important;
	background: #2f87b2;
}


/* Search Form */
#branding #searchform {
	position: absolute;
	top: 3.8em;
	right: 7.6%;
	text-align: right;
}
#branding #searchform div {
	margin: 0;
}
#branding #s {
	float: right;
	-webkit-transition-duration: 400ms;
	-webkit-transition-property: width, background;
	-webkit-transition-timing-function: ease;
	-moz-transition-duration: 400ms;
	-moz-transition-property: width, background;
	-moz-transition-timing-function: ease;
	-o-transition-duration: 400ms;
	-o-transition-property: width, background;
	-o-transition-timing-function: ease;
	width: 72px;
}
#branding #s:focus {
	background-color: #f9f9f9;
	width: 196px;
}
#branding #searchsubmit {
	display: none;
}
#branding .only-search #searchform {
	top: 5px;
	z-index: 1;
}
#branding .only-search #s {
	background-color: #666;
	border-color: #000;
	color: #222;
}
#branding .only-search #s,
#branding .only-search #s:focus {
	width: 85%;
}
#branding .only-search #s:focus {
	background-color: #bbb;
}
#branding .with-image #searchform {
	top: auto;
	bottom: -27px;
	max-width: 195px;
}
#branding .only-search + #access div {
	padding-right: 205px;
}


/* =Breadcrumbs */

.breadcrumbs {
	font-size: 0.8em;
	padding-top: 10px;
	display: block;
}

/* =Content
----------------------------------------------- */


.entry-content strong {
	font-weight: strong;
}


#main {
	clear: both;
	padding: 1.625em 0 0;
	min-height: 500px;
}
.page-title {
	color: #666;
	font-size: 10px;
	font-weight: 500;
	letter-spacing: 0.1em;
	line-height: 2.6em;
	margin: 0 0 2.6em;
	text-transform: uppercase;
}
.page-title a {
	font-size: 12px;
	font-weight: bold;
	letter-spacing: 0;
	text-transform: none;
}
.hentry,
.no-results {
	margin: 0 0 1.625em;
	padding: 0 0 1.625em;
	position: relative;
}
.hentry:last-child,
.no-results {
	border-bottom: none;
}
.blog .sticky .entry-header .entry-meta {
	clip: rect(1px 1px 1px 1px); /* IE6, IE7 */
	clip: rect(1px, 1px, 1px, 1px);
	position: absolute !important;
}
.entry-title {
	clear: both;
	font-size: 20px;
	font-weight: normal;
	line-height: 1.5em;
	padding-bottom: .8em;
	padding-top: 0px;
}
.entry-title,
.entry-title a {
	text-decoration: none;
}
.entry-title a:hover,
.entry-title a:focus,
.entry-title a:active {
	color: #1982d1;
}
.entry-meta {
	color: #666;
	clear: both;
	font-size: 12px;
	line-height: 18px;
}
.entry-meta a {
	font-weight: bold;
}
.single-author .entry-meta .by-author {
	display: none;
}
.entry-content,
.entry-summary {
	padding: 0;
	float: none;
	clear: both;
}
.entry-content h1,
.entry-content h2,
.entry-content h3,
.comment-content h1,
.comment-content h2,
.comment-content h3 {
	margin: 0 0 .8125em;
}
.entry-content table,
.comment-content table {
	border-bottom: 1px solid #ddd;
	margin: 0 0 1.625em;
	width: 100%;
}
.entry-content th,
.comment-content th {
	color: #666;
	font-size: 10px;
	font-weight: 500;
	letter-spacing: 0.1em;
	line-height: 2.6em;
	text-transform: uppercase;
}
.entry-content td,
.comment-content td {
	border-top: 1px solid #ddd;
	padding: 6px 10px 6px 0;
}
.entry-content #s {
	width: 75%;
}
.comment-content ul,
.comment-content ol {
	margin-bottom: 1.625em;
}
.comment-content ul ul,
.comment-content ol ol,
.comment-content ul ol,
.comment-content ol ul {
	margin-bottom: 0;
}

.gallery-item {
	width: 220px;
	float: left;
	margin: 10px;
}

.layouts .gallery-item, .layouts-pop-tops .gallery-item, .layouts-caravans .gallery-item {
	width: 460px;
	margin: 10px 10px 30px 10px;
}

.page-link {
	clear: both;
	display: block;
	margin: 0 0 1.625em;
}
.page-link a {
	background: #eee;
	color: #373737;
	margin: 0;
	padding: 2px 3px;
	text-decoration: none;
}
.page-link a:hover {
	background: #888;
	color: #fff;
	font-weight: bold;
}
.page-link span {
	margin-right: 6px;
}
.entry-meta .edit-link a,
.commentlist .edit-link a {
	background: #eee;
	-moz-border-radius: 3px;
	border-radius: 3px;
	color: #666;
	float: right;
	font-size: 12px;
	line-height: 1.5em;
	font-weight: 300;
	text-decoration: none;
	padding: 0 8px;
}
.entry-meta .edit-link a:hover,
.commentlist .edit-link a:hover {
	background: #888;
	color: #fff;
}
.entry-content .edit-link {
	clear: both;
	display: block;
}

/* =error404
----------------------------------------------- */

.error404 #main #searchform {
	background: #f9f9f9;
	border: 1px solid #ddd;
	border-width: 1px 0;
	margin: 0 -8.9% 1.625em;
	overflow: hidden;
	padding: 1.625em 8.9%;
}
.error404 #main #s {
	width: 95%;
}
.error404 #main .widget {
	clear: none;
	float: left;
	margin-right: 3.7%;
	width: 30.85%;
}
.error404 #main .widget_archive {
	margin-right: 0;
}
.error404 #main .widget_tag_cloud {
	float: none;
	margin-right: 0;
	width: 100%;
}
.error404 .widgettitle {
	font-size: 10px;
	letter-spacing: 0.1em;
	line-height: 2.6em;
	text-transform: uppercase;
}


/* =Footer
----------------------------------------------- */

#colophon {
	clear: both;
	margin: 0 auto;
	background: #f5f5f5;
	padding: 40px 0px 40px 0px;
	border-top: solid 1px #e7e7e7;
	margin-top: 40px;
	font-size: 0.90em;
}

#colophon strong {
	color: #006598;
	font-weight: bold;
	font-size: 1.10em;
}

#colophon strong a {
	padding-top: 0px;
}

#colophon ul {
	list-style-type: none;
	margin-left: 0px;
	margin-top: 5px;
}

#supplementary {
	border-top: 1px solid #ddd;
	padding: 1.625em 7.6%;
	overflow: hidden;
}

#colophon ul li {
	margin: 0px;
	padding: 0px;
}

#colophon ul a {
	display: block;
	color: #646464;
	padding: 5px;
	text-decoration: none;
	margin-left: -5px;
}

#colophon ul a:hover {
	background-color: #eee;
}

/* =Print
----------------------------------------------- */

@media print {
	body {
		background: none !important;
		font-size: 10pt;
	}
	footer.entry-meta a[rel=bookmark]:link:after,
	footer.entry-meta a[rel=bookmark]:visited:after {
		content: " [" attr(href) "] "; /* Show URLs */
	}
	#page {
		clear: both !important;
		display: block !important;
		float: none !important;
		max-width: 100%;
		position: relative !important;
	}
	#branding {
		border-top: none !important;
		padding: 0;
	}
	#branding hgroup {
		margin: 0;
	}
	#site-title a {
		font-size: 21pt;
	}
	#site-description {
		font-size: 10pt;
	}
	#branding #searchform {
		display: none;
	}
	#branding img {
		display: none;
	}
	#access {
		display: none;
	}
	#main {
		border-top: none;
		box-shadow: none;
	}
	#primary {
		float: left;
		margin: 0;
		width: 100%;
	}
	#content {
		margin: 0;
		width: auto;
	}
	.singular #content {
		margin: 0;
		width: 100%;
	}
	.singular .entry-header .entry-meta {
		position: static;
	}
	.entry-meta .edit-link a {
		display: none;
	}
	#content nav {
		display: none;
	}
	.singular .entry-header,
	.singular .entry-content,
	.singular footer.entry-meta,
	.singular #comments-title {
		margin: 0;
		width: 100%;
	}
	.singular .hentry {
		padding: 0;
	}
	.entry-title,
	.singular .entry-title {
		font-size: 21pt;
	}
	.entry-meta {
		font-size: 10pt;
	}
	.entry-header .comments-link {
		display: none;
	}
	.page-link {
		display: none;
	}
	.singular #author-info {
		background: none;
		border-bottom: none;
		border-top: none;
		margin: 2.2em 0 0;
		padding: 0;
	}
	#respond {
		display: none;
	}
	.widget-area {
		display: none;
	}
	#colophon {
		display: none;
	}

}


/* =IE7
----------------------------------------------- */

#ie7 article.intro {
	margin-left: -7.6%;
	margin-right: -7.6%;
	padding-left: -7.6%;
	padding-right: -7.6%;
	max-width: 1000px;
}
#ie7 section.featured-post {
	margin-left: -7.6%;
	margin-right: -7.6%;
	max-width: 850px;
}
#ie7 section.recent-posts {
	margin-right: 7.6%;
}

/* =IE8 
----------------------------------------------- */ 
 
#ie8 section.feature-image.large img { 
	width: 100%; 
} 

/*
    ColorBox Core Style:
    The following CSS is consistent between example themes and should not be altered.
*/
#colorbox, #cboxOverlay, #cboxWrapper{position:absolute; top:0; left:0; z-index:9999; overflow:hidden;}
#cboxOverlay{position:fixed; width:100%; height:100%;}
#cboxMiddleLeft, #cboxBottomLeft{clear:left;}
#cboxContent{position:relative;}
#cboxLoadedContent{overflow:auto; -webkit-overflow-scrolling: touch;}
#cboxTitle{margin:0;}
#cboxLoadingOverlay, #cboxLoadingGraphic{position:absolute; top:0; left:0; width:100%; height:100%;}
#cboxPrevious, #cboxNext, #cboxClose, #cboxSlideshow{cursor:pointer;}
.cboxPhoto{float:left; margin:auto; border:0; display:block; max-width:none;}
.cboxIframe{width:100%; height:100%; display:block; border:0;}
#colorbox, #cboxContent, #cboxLoadedContent{box-sizing:content-box; -moz-box-sizing:content-box; -webkit-box-sizing:content-box;}

/* 
    User Style:
    Change the following styles to modify the appearance of ColorBox.  They are
    ordered & tabbed in a way that represents the nesting of the generated HTML.
*/
#cboxOverlay{background:#fff;}
#colorbox{outline:0;}
    #cboxContent{margin-top:32px; overflow:visible;}
        .cboxIframe{background:#fff;}
        #cboxError{padding:50px; border:1px solid #ccc;}
        #cboxLoadedContent{padding:1px;}
        #cboxLoadingGraphic{background:url(images/loading.gif) no-repeat center center;}
        #cboxLoadingOverlay{}
        #cboxTitle{position:absolute; top:-22px; left:0; color:#000;}
        #cboxCurrent{position:absolute; top:-22px; right:205px; text-indent:-9999px;}

        /* these elements are buttons, and may need to have additional styles reset to avoid unwanted base styles */
        #cboxPrevious, #cboxNext, #cboxSlideshow, #cboxClose {border:0; padding:0; margin:0; overflow:visible; text-indent:-9999px; width:20px; height:20px; position:absolute; top:-20px; background:url(images/controls.png) no-repeat 0 0;}
        
        /* avoid outlines on :active (mouseclick), but preserve outlines on :focus (tabbed navigating) */
        #cboxPrevious:active, #cboxNext:active, #cboxSlideshow:active, #cboxClose:active {outline:0;}

        #cboxPrevious{background-position:0px 0px; right:44px;}
        #cboxPrevious:hover{background-position:0px -25px;}
        #cboxNext{background-position:-25px 0px; right:22px;}
        #cboxNext:hover{background-position:-25px -25px;}
        #cboxClose{background-position:-50px 0px; right:0;}
        #cboxClose:hover{background-position:-50px -25px;}
        .cboxSlideshow_on #cboxPrevious, .cboxSlideshow_off #cboxPrevious{right:66px;}
        .cboxSlideshow_on #cboxSlideshow{background-position:-75px -25px; right:44px;}
        .cboxSlideshow_on #cboxSlideshow:hover{background-position:-100px -25px;}
        .cboxSlideshow_off #cboxSlideshow{background-position:-100px 0px; right:44px;}
        .cboxSlideshow_off #cboxSlideshow:hover{background-position:-75px -25px;}
